.advantages {
  background-color: #ffffff;
  text-align: center;
}

.advantages__header {
  padding: 46px 0 26px 0;
}

.advantages__title {
  width: 270px;
  margin: 0 auto;
  .font-bold;
}

.advantages__intro {
  width: 270px;
  margin: 30px auto 0 auto;
  .font-normal;
}

@media (min-width: @tablet-width) {

  .advantages__title {
    width: 500px;
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 10px;
    font-size: 21px;
  }

  .advantages__intro {
    width: 500px;
    margin: 20px auto;
  }

}
