.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  .font-bold;
}

.form__input {
  width: 100%;
  padding: 16px 22px;
  .font-bold;
  text-transform: none;
  color: #000000;
  border: none;
  background-color: #f2f2f2;
  box-sizing: border-box;
  cursor: pointer;
}

.form__label {
  margin-right: 13px;
  .font-normal;
  cursor: pointer;

  &--contact {
    margin-left: 20px;
    margin-bottom: 3px;
  }

  &--radio,
  &--check {
    text-transform: none;
  }
}

.form__radio {
  display: none;

  &:checked + label::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 16px;
    width: 22px;
    height: 22px;
    background-color: #333333;
    border-radius: 50%;
  }

  &:checked:active + label::after {
    opacity: 0.3;
  }
}

.form__label--radio {
  position: relative;
  padding-left: 78px;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 56px;
    height: 56px;
    background-color: @bg-lightgrey;
    border-radius: 50%;
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.form__check {
  display: none;

  &:checked + label::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 4px;
    width: 10px;
    height: 19px;
    border-bottom: 4px solid #231f20;
    border-right: 4px solid #231f20;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 3px;
    transform: rotate(45deg);
  }

  &:checked:active + label::after {
    opacity: 0.3;
  }
}

.form__label--check {
  position: relative;
  padding-left: 78px;

  &::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 5px;
    background-color: @bg-lightgrey;
  }

  &:hover {
    &::before {
      background-color: #e5e5e5;
    }
  }

  &:active {
    &::before {
      background-color: #d5d5d5;
    }
  }
}

.form__fieldset {
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;

  &--mod {
    padding-bottom: 32px;
  }

  &--attraction {
    padding: 5px 0 32px;
  }

  &--textarea {
    padding: 19px 0 32px;
  }
}

.form__field-wrap {
  display: flex;
  align-items: baseline;
  margin: 21px 20px 10px 20px;

  &--contact {
    flex-wrap: wrap;
  }

  &--attraction {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 54px;
    }
  }

  &--impression {
    display: flex;
    flex-direction: column;

    &:nth-child(2) {
      margin-top: 32px;
    }

    &:not(:last-child) {
      margin-bottom: 44px;
    }
  }
}

.form__textarea {
  width: 280px;
  height: 160px;
  margin-top: 17px;
  padding: 17px 19px;
  .font-bold;
  color: #000000;
  text-transform: none;
  background-color: @bg-lightgrey;
  border: none;
  box-sizing: border-box;
}

.form__button {
  margin: 40px auto 0;
  padding: 18px 48px;
  .font-bold;
  font-size: 21px;
  color: #ffffff;
  text-align: center;
  background-color: @bg-blue;
  border: none;
}

.form__required {
  display: none;
}

@media (min-width: @tablet-width) {

  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__fieldset {
    width: 100%;
    padding: 0;
    padding-left: 58px;
    border: none;

    &--short {
      width: 50%;
      padding-right: 60px;
      box-sizing: border-box;
    }

    &--mod {
      position: relative;
      padding-right: 0;
      order: -2;

      &:after {
        content: "";
        position: absolute;
        top: 20px;
        right: 0;
        width: 3px;
        height: 294px;
        border-right: 1px solid #e5e5e5;
      }
    }

     &--textarea {
      display: flex;
      flex-wrap: wrap;
      padding-right: 60px;
      margin-bottom: 60px;
    }

    &--contact {
      padding-right: 60px;
    }

    &--attraction {
      padding-right: 60px;
      margin-bottom: 40px;
    }
  }

  .form__field-wrap {
    margin: 0 0 20px;

    &--attraction {
    width: 230px;

      &:not(:last-child) {
        margin-bottom: 35px;
      }

      &:nth-child(2) {
        order: 3;
      }

      &:nth-child(3) {
        order: 2;
      }

      &:nth-child(4) {
        order: 4;
      }
    }

    &--impression:not(:last-child) {
      margin-bottom: 51px;
    }
  }

  .form__textarea {
    width: 648px;
    height: 160px;
    margin: 20px 0 60px;
    color: #000000;
    border: none;
    background-color: #f2f2f2;
    box-sizing: border-box;
    cursor: pointer;
  }

  .form__title {
    margin-bottom: 75px;
    font-size: 21px;
    text-align: left;

    &--name {
      margin-bottom: 57px;
    }

    &--contact {
      width: 300px;
      position: relative;
      margin: 50px auto 25px;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }

      &:after {
        content: "";
        position: absolute;
        top: 13px;
        right: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }
    }

    &--attraction {
      width: 300px;
      position: relative;
      margin: 30px auto 25px;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        top: 25px;
        left: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }

      &:after {
        content: "";
        position: absolute;
        top: 25px;
        right: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }
    }
  }

  .form__label {

    &--contact {
      margin-bottom: 10px;
    }

    &--check {
      margin-top: 30px;
    }

    &--textarea {
      position: relative;
      margin: 10px auto 35px;
      .font-bold;
      font-size: 21px;
      text-align: center;

      &:before {
        content: "";
        position: absolute;
        top: 13px;
        left: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }

      &:after {
        content: "";
        position: absolute;
        top: 13px;
        right: -175px;
        width: 127px;
        height: 1px;
        border-top: 1px solid #e5e5e5;
      }
    }
  }

  .form__attraction-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 95px;
    width: 489px;
  }

  .form__required {
    display: block;
    .font-normal;
  }

  .form__button {
  margin: 0 160px 0 0;
  padding: 16px 72px;
}

}

@media (min-width: @desktop-width) {
  .form {
    margin: 0 20px;
  }

  .form__textarea {
    width: 960px;
    }

  .form__field-wrap {
    &--attraction {
      width: 200px;
    }

    &--impression {
      margin-left: 50px;
    }
  }

  .form__title {
    &--impression {
      text-align: center;
    }

    &--contact {
      margin-bottom: 72px;

      &::before {
        width: 280px;
        left: -325px;
      }

      &::after {
        width: 280px;
        right: -325px;
      }
    }
  }

  .form__fieldset {
    &--name {
      padding-left: 78px;
      padding-right: 100px;
    }
  }

  .form__contact-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 0 0 5px;
  }

  .form__label--contact {

    & span {
      display: none;
    }
  }

  .form__input--contact {
    width: 315px;
  }

  .form__attraction-list {
    justify-content: space-between;
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }

  .form__fieldset--textarea {
    width: 960px;
    margin: 0 auto 67px;
  }

  .form__button {
    margin: 0 315px 0 0;
    padding: 16px 149px;
  }

}
