.form {
  display: flex;
  flex-direction: column;
}

.form__title {
  .font-bold;
}

.form__label-text,
.form__label-contact {
  .font-normal;
}

.form__label-radio,
.form__label-check {
  text-transform: none;
}
