.page-header {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

.page-header__logo {
  min-height: 55px;
  margin: 0;
  background-color: #ffffff;
  order: 2;
}
.page-header__logo img {

}
