.photo {
  margin: 0;
  padding: 15px;
}

.photo__item {
  margin: 0;
  padding: 0;
}

.photo__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans", "Verdana", sans-serif;
  text-transform: uppercase;
}

.photo__author {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-family: "PT Sans", "Verdana", sans-serif;
  text-transform: none;
}

.photo__like-counter {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  font-family: "PT Sans", "Verdana", sans-serif;
  text-transform: uppercase;
}
