.reason {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.reason__title {
  margin: 0;
  padding: 0;
  .font-bold;
}

.reason__number {
  margin: 5px 0 10px 0;
  padding: 0;
  .font-normal;
  text-align: center;
}

.reason__description {
  margin: 0;
  padding: 0;
  .font-normal;
  line-height: 21px;

  &--internal-list {
    margin: 15px 0 27px 0;
  }
}

.reason__list {
  display: flex;
  flex-direction: column;
  padding: 40px 30px 10px 70px;
  list-style: none;
}

.reason__item {
  position: relative;
  margin: 0;
  background-color: #eeeeee;
  text-align: center;
  box-sizing: border-box;

  &--internal-list {
    background-color: #ffffff;
    text-align: left;
    }

  &--blue {
    padding: 55px 25px 40px 25px;
    color: #ffffff;
    background-color: @bg-blue;
    }

  &--reverse {
    padding: 38px 25px 40px 25px;
  }

  &--grey {
    padding: 30px 35px;
  }

  &--short:not(:last-child)::after {
    content: "";
    position: absolute;
    left: 20px;
    bottom: 0px;
    width: 280px;
    height: 1px;
    background-color: #a8a8a8;
  }
}

.reason__foto {
  margin: 0;
  padding: 0;
}

.reason__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.reason__br {
  display: none;
}

@media (min-width: @tablet-width) {
  .reason {
    flex-direction: row;
  }

  .reason__br {
    display: block;
  }

  .reason__list {
    flex-direction: row;
    width: 100%;
    padding: 0;
  }

  .reason__foto {
    width: 512px;
  }

  .reason__title {
    max-width: 170px;
    margin: 0 auto;
    font-size: 21px;

    &--internal-list {
      position: relative;
      padding: 100px 0 20px;
    }

    &--grey {
      width: 125px;
      padding: 10px 0 5px;
    }
  }

  .reason__item {
    &--blue {
      width: 256px;
      padding-top: 48px;
    }

    &--reverse {
      order: 2;
    }

    &--grey {
      width: 256px;
      padding-bottom: 40px;
      border: none;
    }

    &--internal-list {
      width: 256px;
      padding: 60px 40px;
      text-align: center;
    }

    &--gifts {
      order: 3;
    }
  }

  .reason__number {
    width: 170px;
    margin: 5px auto 20px;
  }

  .reason__description {
    width: 170px;
    margin: 0 auto;
    line-height: 21px;

    &--internal-list {
      width: 168px;
      margin: 0;
    }

    &--short {
      width: 140px;
    }
  }

}

@media (min-width: @desktop-width) {
  .reason__item {
    &--blue {
      width: 400px;
      padding-top: 53px;
    }

    &--grey {
      width: 400px;
      padding: 30px 50px 67px;
      box-sizing: border-box;
    }

    &--internal-list {
      width: 400px;
      padding-bottom: 83px;
    }
  }

  .reason__foto {
    width: 800px;
  }

  .reason__title {
    margin-bottom: 10px;

    &--grey {
      margin-bottom: 5px;
    }
  }

  .reason__description {
    width: 290px;

    &--internal-list {
      margin: -10px auto 0;
      text-align: center;
    }

    &--mod {
      width: 230px;
    }
  }

}
