.search-hotel {
  margin: 0;
  padding: 20px;
  background-color: #ffffff;
}


.search-hotel__data {
  margin: 10px;
  padding: 0;
  .font-normal;
  text-align: center;
}

.search-hotel__strong {
  display: block;
  margin-bottom: 20px;
  .font-bold;
  text-align: center;
}

.search-hotel__form {
  display: block;
  margin: 0 auto;
  padding: 15px 20px;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  background-color: @bg-blue;
}

